{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "targets": {
          "node": "10"
        }
      }
    ],
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}